
<ion-content>
    <div id="wrapper">
        <ion-title>Organizational chart of the company</ion-title>
        <ion-list>
            <ion-card *ngFor="let user of users$">
                <!--
                    Affichage des données de chaque utilisateur
                -->
                <ion-card-header>
                    <ion-avatar>
                        <img src="/assets/images/icon.png">
                    </ion-avatar>
                    <a href="/details/{{user.id}}"><h2>{{user.name}}</h2></a>
                    <!--
                        Les données récupérées ne possèdent pas de champ spécifiant le poste occupé par l'employé
                        J'ai donc simulé cet attribut en filtrant les identifiants.
                    -->
                    <p *ngIf="user.id ==1">CEO</p>
                    <p *ngIf="user.id ==2 || user.id ==3 || user.id ==4">Manager</p>
                    <p *ngIf="user.id > 4 ">Employee</p>
                </ion-card-header> 
            </ion-card>
            <div text-center>
                <ion-button color="secondary" (click)="modalState()"><ion-icon name="add"></ion-icon>Add an employee</ion-button>
            </div>
            
        </ion-list>
        <div [ngClass]="status ? 'active' : 'notactive' " id="add_employee">
            <div id="form-wrapper">
                <ion-title>Add an employee</ion-title>
                <ion-list>
                    <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-input type="text" placeholder="First name and last name"></ion-input>
                        </ion-item>  
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-input type="text" name="email" placeholder="Email"></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-input type="text" name="phone" placeholder="Phone number"></ion-input>
                            </ion-item>  
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-input type="text" name="website" placeholder="Website"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-button color="secondary" (click)="modalState()">Submit</ion-button>
                    <ion-button color="secondary" (click)="submit()">Cancel</ion-button>
                </ion-list>
                
            </div>
        </div>
    </div>
    
</ion-content>
