<ion-content style="--offset-top:50px;">
  <div id="wrapper">
    
    <div id="form-wrapper">
      <ion-title>Contact us</ion-title>
      <ion-list>
        <ion-row>
          <ion-col>
            <ion-item>
                <ion-input type="text" placeholder="First name and last name"></ion-input>
              </ion-item>  
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-input type="text" name="email" placeholder="Email"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-textarea name="message" placeholder="Message"></ion-textarea>
        </ion-item>
        <ion-button color="secondary">Submit</ion-button>
      </ion-list>
      
    </div>
    
  </div>
</ion-content>