ion-content{
    #wrapper{
        padding-top: 100px;
        #form-wrapper{
            width: 900px;
            margin: 0 auto;
            ion-title{
                font-size: 3em;
            }
            ion-list{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            ion-item{
                margin: 45px 15px;
            }
        }
    }
    ion-card{
        width: 400px;
    }
    ion-icon{
        margin-right: 10px;
    }
}